# Old files
Old/
*.zip
*.tar.gz
archive/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Model files
*.pth

# Dataset
chest_xray/

# Test images (uncomment to ignore)
# test_images/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.env
node_modules

# Kaggle
kaggle.json
